<tr>
  <td style="background-color:{{i.bcolor}};color:{{i.color}};text-align:left;vertical-align:top">{{ i.DashboardName }}</td>
  <td style="background-color:{{i.bcolor}};color:{{i.color}};text-align:left;vertical-align:top">{{ i.UserName}}</td>
  <td style="background-color:{{i.bcolor}};color:{{i.color}};text-align:left;vertical-align:top">{{ i.Role }}</td>
  <td style="background-color:{{i.bcolor}};color:{{i.color}};text-align:left;vertical-align:top">{{ i.Status }}</td>
  <td style="background-color:{{i.bcolor}};color:{{i.color}};text-align:left;vertical-align:top">{{ i.Email}}</td>
</tr>
